<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
  <div th:replace="fragments/bodyHeader :: bodyHeader"/>
  <div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th>#</th>
        <th>식당ID</th>
        <th>식당이름</th>
        <th>식당위치</th>
        <th></th>
      </tr>
      </thead>
      <tbody>
      <tr th:each="restaurant : ${restaurantlist}">
        <td th:text="${restaurant.id}"></td>
        <td th:text="${restaurant.name}"></td>
        <td th:text="${restaurant.location}"></td>
        <td>
          <a href="#" th:href="@{/restaurants/{restaurantsid}/botton(restaurantsid=${restaurant.id})}"
             class="btn btn-primary" role="button">테이블 조회</a>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
  <div th:replace="fragments/footer :: footer"/>
</div> <!-- /container -->
</body>
</html>