<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <thead>
    <tr>
        <th>테이블번호</th>
        <th>자리여부</th>
        <th></th>
    </tr>
    </thead>
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <div th:each="tableinfo : ${tableInfos}">
            <button th:text="${tableinfo.id}"
                    th:style="${tableinfo.table_seat == T(PosSys.PosSys.domain.TableSeat).SEATED} ? 'background-color:green; position:absolute; left:' + ${tableinfo.table_x} + 'px; top:' + ${tableinfo.table_y} + 'px; width:50px; height:50px;'
        : 'background-color:red; position:absolute; left:' + ${tableinfo.table_x} + 'px; top:' + ${tableinfo.table_y} + 'px; width:50px; height:50px;'"></button>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div><!-- /container -->
</body>
</html>
<!--
 </div>
            <tr th:each="tableinfo : ${tableInfos}">
                <button th:text="${tableinfo.id}"
                        th:style="${tableinfo.table_seat == 'SEATED'} ? 'background-color:green; position:absolute;left:'
                        + ${tableinfo.table_x} + 'px; top:' + ${tableinfo.table_y} + 'px;' : 'background-color:red;position:absolute; left:'
                         + ${tableinfo.table_x} + 'px; top:' + ${tableinfo.table_y} + 'px;'">

                </button>
 <div th:each="tableinfo : ${tableinfos}">
        <button th:text="${tableinfo.id}"
                th:style="${tableinfo.table_seat == T(tableinfo.table_seat).SEATED} ? 'background-color:green' : 'background-color:red';
            position:absolute;
            left: ${tableinfo.table_x }px;
            top: ${tableinfo.table_y }px;">

        </button>
    </div>
    <!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: header" />
<body>
<div class="container">
    <div th:replace="fragments/bodyHeader :: bodyHeader"/>
    <div>
        <table class="table table-striped">
            <thead>
            <tr>
                <th>테이블번호</th>
                <th>자리여부</th>
                <th></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="tableinfo : ${tableInfos}">
                <td th:text="${tableinfo.id}"></td>
                <td th:text="${tableinfo.table_seat}"></td>
            </tr>
            </tbody>
        </table>
    </div>
    <div th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>

-->